* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #a39d9d;
    background: #4e5f6b;
    
    font-size: 16px;
}

p {
    font-size: 2rem;
}

.container {
    width: 400px;
    height: 700px;
    padding: 60px;
    background-color: #4e5f6b;
    box-shadow: 14px 14px 120px #689268,
                -14px -14px 20px #8f4040;
    border-radius: 40px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    width: 100%;
    color: dodgerblue;
    margin-bottom: 30px;
    padding: 10px 20px;
    height: 5rem;    
    border-radius: 30%;   
    //box-shadow: 0px 5px 10px rgba(dodgerblue, 40%);
    box-shadow: inset 8px 8px 8px #cbced1,
                inset -8px -8px 8px #fff;
}    

#mainNum {
    font-size: 4rem;
}

#resetBtn, #saveBtn {
    font-size: 1.25rem;
    font-weight: 700;
}