body {
    background-color: green;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.container {
    position: relative;
    top: 50vh;
    width: 35%;
    height: 50%;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    border-radius: 15%;
    border-style: hidden;
    font-size: 2rem;
    box-shadow: 0px 5px 10px rgba(dodgerblue, 40%);
}    

#mainNum {
    font-size: 4rem;
}

#resetBtn {
    font-size: 1.25rem;
    font-weight: 700;
}