@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $bodyColor;
    background: $bodyBackground;    
    font-size: 16px;
}

p {
    font-size: 2rem;
}

.container {
    width: 400px;
    height: 700px;
    padding: 60px;
    background-color: $containerBackground;
    box-shadow: 14px 14px 120px #689268,
                -14px -14px 20px #689268;
    border-radius: 40px;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3rem;
    width: 100%;
    color: $buttonColor;
    margin-bottom: 30px;
    padding: 10px 20px;
    height: 5rem;    
    border-radius: 30%;
    @include button-box-shadow;   
        &:hover {
            @include hover-button-effect;               
                }
}    

#mainNum {    
    font-size: 4rem;
    text-align: center;
    margin: 10px 0;
}

#resetBtn, #saveBtn {
    font-size: 1.25rem;
    font-weight: 700;
}

#plusBtn {
    margin-bottom: 0;
}

#values {
    text-align: center;
}